# SSH
export SSH_ASKPASS='/usr/bin/ksshaskpass'
export SSH_ASKPASS_REQUIRE=prefer

if [[ $XDG_CURRENT_DESKTOP != 'KDE' ]]; then
	export QT_QPA_PLATFORMTHEME='qt5ct'
fi

# Feral gamemode
GAMEMODERUNEXEC="env __NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia __VK_LAYER_NV_optimus=NVIDIA_only"
